[submodule "halos-pi-gen"]
	path = halos-pi-gen
	url = git@github.com:hatlabs/halos-pi-gen.git
	branch = halos
[submodule "casaos-marine-store"]
	path = casaos-marine-store
	url = git@github.com:hatlabs/casaos-marine-store.git
	branch = main
[submodule "apt.hatlabs.fi"]
	path = apt.hatlabs.fi
	url = git@github.com:hatlabs/apt.hatlabs.fi.git
	branch = main
[submodule "runtipi-marine-app-store"]
	path = runtipi-marine-app-store
	url = git@github.com:hatlabs/runtipi-marine-app-store.git
